<mat-card class="holder">
  <div class="inner">
    <mat-grid-list cols="2">
      <mat-grid-tile> 
        <div>
        <h1> InvaDev <strong> Image </strong> Server</h1>
        <h4> Project soon coming to github </h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <p *ngIf="!auth.currentUser">Please Login to Continue</p>
            <p *ngIf="auth.currentUser"> Welcome back {{auth.currentUser.displayName}} </p>
          </mat-card-header>
          <mat-card-content [ngSwitch]="auth.currentUser">
            <form autocomplete="off" (submit)="handleLoginWithCredit()" *ngSwitchCase="null"> 
              <mat-form-field appearance="fill" class="w-100" aria-autocomplete="none">
                <mat-label> Email </mat-label>
                <input type="email" matInput placeholder="John@whitepeople.com" [formControl]="email"/>
                <mat-error *ngIf="email.invalid"> Error Invalid Email </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label> Password </mat-label>
                <input type="password" matInput [formControl]="password" />
                <mat-hint> If you can't login you are not supposed to </mat-hint>
                <mat-error *ngIf="password.invalid"> Error Invalid Password </mat-error>
              </mat-form-field>
              <mat-card-actions align="end"> 
                <button type="button" mat-raised-button color="accent" (click)="handleSignWithGoogle()">Google</button>
                <button type="submit" mat-raised-button color="primary" (click)="logout()"> Login </button>
              </mat-card-actions>
            </form>
            <div *ngSwitchDefault style="text-align: center;">
              <h1> Continue to Dashboard </h1>
              <button mat-raised-button color="primary" class="p-10" routerLink="/u/"> Dashboard </button>
            </div>
          </mat-card-content>
          <mat-card-footer align="center">
            Having trouble logging in? Contact Me
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
<footer class="foot" style="color: gray;"> 
  <h3>
    Made by Zn. Fully opensource Under Mit License 
    <svg class="p-10" xmlns="http://www.w3.org/2000/svg" width="36" height="25" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
  </h3> 
</footer>